[paths]
source =
    src
    */site-packages
tests =
    tests
    */tests

[run]
branch = true
source =
    pytest_static
    tests

[report]
exclude_also =
    if TYPE_CHECKING:
show_missing = true
fail_under = 100
